body{
  display: flex;
  justify-content: center ;
  align-items: center;
  flex-direction: column;
  
}

*{
  margin: 0;
  padding: 0;
}
ul{
  list-style-type: none;
  border: 1px solid black;
  gap: 2px;
}

li{
  display: flex;
  border: 1px solid black;
  justify-content: space-between;
  

}
.pname{
 
  border: 1px solid black;
}

.licomp{
  width: 400px;
  border: 1px solid grey;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}
.status{
  width: 200px;
}

/* input box */
.inputbox{
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  gap: 30px;
}


.fqty{
    width: 400px;
}